/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.buttonz {
  display: flex;
  flex-direction: column;
  align-items: center; }

button {
  margin: 30px;
  width: 500px;
  height: 100px;
  background-color: #894389;
  border-radius: 20px;
  border: none;
  color: white;
  font-size: 50px;
  box-shadow: 2px 2px 1px 1px rgba(165, 172, 177, 0.75); }

button:hover {
  box-shadow: inset 2px 2px 1px 1px rgba(165, 172, 177, 0.75);
  background-color: white;
  border: 2px solid #894389;
  color: #894389; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  text-align: center; }

h1 {
  font-size: 170px;
  margin: 0 20px;
  padding-top: 80px; }

h2 {
  font-size: 110px;
  margin: 40px 20px; }

h3 {
  font-size: 80px; }

h6 {
  color: white;
  font-size: 40px; }

p {
  margin: 80px;
  font-size: 40px; }
  p em {
    font-weight: bold; }

a, ul, p, input {
  font-family: 'Raleway', sans-serif;
  text-align: center; }

.gameStart, .gameOver {
  position: relative;
  height: 100vh;
  width: 100vw;
  z-index: 2; }
  .gameStart h1, .gameStart p, .gameOver h1, .gameOver p {
    color: white;
    z-index: 3; }

.gameOver::after, .gameStart::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.9;
  z-index: -1;
  background-color: #353940; }

header {
  height: 5vh;
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: center; }

main {
  height: 100vh;
  width: 100vw;
  position: relative; }

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 55vh; }

input {
  width: 65vw;
  height: 5vh;
  font-size: 40px;
  border: 2px solid black; }

[class^='team'] {
  background-color: black;
  height: 450px;
  width: 800px;
  position: fixed;
  bottom: 150px; }
  [class^='team'] h3 {
    position: absolute;
    color: white;
    top: 175px; }

.team1 {
  left: -700px;
  transition: left 0.75s;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px; }
  .team1 h3 {
    transform: rotate(90deg);
    right: -95px; }

.team1Show {
  left: 0; }

.team2 {
  right: -700px;
  transition: right 0.75s;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px; }
  .team2 h3 {
    transform: rotate(-90deg);
    left: -95px; }

.team2Show {
  right: 0; }

* {
  box-sizing: border-box; }

footer {
  position: fixed;
  height: 100px;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: white;
  display: flex;
  align-items: center; }
  footer p {
    margin: 0 10px;
    font-size: 50px; }
  footer img {
    height: 80px; }
