$button-colors: #894389;

.buttonz{
  display: flex;
  flex-direction: column;
  align-items: center;
}

button{
  margin: 30px;
  width: 500px;
  height: 100px;
  background-color: $button-colors;
  border-radius: 20px;
  border: none;
  color: white;
  font-size: 50px;
  box-shadow: 2px 2px 1px 1px rgba(165, 172, 177, 0.75);
  a{
    text-decoration: none;
    color: white;
  }
}

button:hover{
  box-shadow: inset 2px 2px 1px 1px rgba(165, 172, 177, 0.75);
  background-color: white;
  border: 2px solid $button-colors;
  color: $button-colors;
}
