<main class="theGame">
  <header>
    <h6>Actor Battle</h6>
  </header>
  <section ng-show="game.currentState('teamSelect')">
    <h2>{{showSelect}}</h2>
    <input ng-model='actor' type="text" name="name" value="" placeholder='Seth or Meryl?'>
    <button ng-click='game.callTest()' type="submit"  name="button" >Choose</button>
  </section>
  <div class="team1" ng-class="returnClass('team1')" >
    <h3 ng-click="changeCurrentTeam(1)">Team 1</h3>
    <div ng-repeat='actor in team1.container'>
      <h5>{{actor.name}}</h1>
      <img src="{{actor.img}}" alt="" />
    </div>
  </div>
  <div class="team2" ng-class="returnClass('team2')">
    <h3 ng-click="changeCurrentTeam(2)">Team 2</h3>
    <div ng-repeat='actor in team2.container'>
      <h5>{{actor.name}}</h1>
      <img src="{{actor.img}}" alt="" />
    </div>
  </div>
</main>
