<!DOCTYPE html>
<html ng-app="actorBattle">
  <head>
    <meta charset="utf-8">
    <title>Actor Battle</title>
    <script src="js/app.js" charset="utf-8"></script>
    <link rel="stylesheet" href="css/app.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body ng-controller="ScreenController as screen">
    <main class="gameStart" ng-show="screen.currentState('selectScreen')">
      <h4>Actor Battle</h4>
        <p>
          Welcome to the devilish game of Actor Battle, where you will pit actors against one another, comparing the popularity of themselves in armed combat (or arrayed combat), to determine who will come away the victor.
        </p>
        <h5>
          Would you prefer to play Single Player or Multi Player game?
        </h5>
        <div class="buttonz">
          <button type="button" ng-click="screen.changeState('singlePlayer')">Single Player</button>
          <button type="button" ng-click="screen.changeState('multiPlayer')">Multi Player</button>
        </div>
    </main>

    <main ng-show="screen.currentState('singlePlayer') || screen.currentState('multiPlayer')" ng-controller="GameController as game">
      <h1>Screen 2</h1>
    </main>

    <main ng-show="screen.currentState('endGame')">
      <h1>Screen 3</h1>
    </main>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  </body>
</html>
